fastapi[full]==0.111.0
llama-index==0.10.47
llama-index-readers-s3==0.1.8
llama-index-vector-stores-qdrant==0.2.10
llama-index-embeddings-fastembed==0.1.4
requests==2.32.3
resend==2.1.0
boto3==1.34
PyJWT==2.8.0 
pydantic==2.7.3
pydantic-settings==2.3.1
pydantic-extra-types==2.8.0
phonenumbers==8.13.38
python-multipart==0.0.9
alembic==1.13.1 
aiofiles==23.2.1  
SQLAlchemy==2.0.30
stripe==9.11.0 
psycopg2-binary==2.9.9
passlib[bcrypt]==1.7.4   
python-dotenv==1.0.1
qdrant-client==1.9.2
openai==1.35.2 
black==24.4.2 
flake8==7.0.0 
Jinja2==3.1.4
loguru==0.7.2 
