fastapi[full]==0.111.0
pydantic==2.7.3
pydantic-settings==2.3.1
pydantic-extra-types==2.8.0 
SQLAlchemy==2.0.30
 psycopg2-binary==2.9.9 
alembic==1.13.1
passlib[bcrypt]==1.7.4   
python-dotenv==1.0.1
black==24.4.2 
flake8==7.0.0 