{% extends "base.html" %}

{% block title %}
Create New Password
{% endblock %}

{% block content %}
<div class="h-screen overflow-hidden flex">
    <!-- Image Section -->
    <div class="bg-gray-100 flex-1 hidden lg:flex items-center justify-center">
        <img src="https://cdn.dribbble.com/userupload/13223422/file/original-2ac29fd6c2c7a7f6f4fc94cadaf3a612.jpg?resize=1600x1067"
            alt="Background Image Auth Pages" class="object-cover h-screen">
    </div>

    <!-- Create New Password Form -->
    <div class="bg-white flex-1 flex items-center justify-center">
        <div class="p-8 sm:p-12 lg:p-16 w-full max-w-md">
            <h1 class="text-2xl font-semibold mb-6 text-center">Create New Password</h1>

            <!-- HTMX Form -->
            <form id="create-password-form" hx-post="{% url 'password_reset_confirm' uidb64 token %}">
                <!-- Form inputs -->
                <div class="mb-4">
                    <label for="password" class="block text-gray-700 text-sm font-bold mb-2">New Password</label>
                    <input id="password" name="new_password1" type="password" placeholder="New Password"
                        class="input input-bordered focus:border-red-700 w-full" />
                </div>
                <div class="mb-6">
                    <label for="confirm-password" class="block text-gray-700 text-sm font-bold mb-2">Confirm
                        Password</label>
                    <input id="confirm-password" name="new_password2" type="password" placeholder="Confirm Password"
                        class="input input-bordered focus:border-red-700 w-full" />
                </div>

                <!-- Buttons -->
                <div class="mb-6">
                    <button type="submit" class="btn btn-primary w-full mb-2" hx-target="#create-password-form">
                        Save New Password
                    </button>
                </div>
            </form>

            <!-- Additional Info -->
            <p class="text-center text-sm text-gray-500">
                Remembered your password?
                <a href="login" class="font-semibold leading-6 text-red-700 hover:text-red-600">Log in here</a>
            </p>
        </div>
    </div>
</div>
{% endblock %}