{% extends "base.html" %}

{% block title %}
HarveyAI
{% endblock %}

{% block content %}
<div class="h-screen overflow-hidden flex">
    <!-- Side Navigation -->
    <div class="sidebar bg-red-800 text-white w-60 flex flex-col items-start justify-between py-4">
        <!-- Adicionamos 'items-start' para alinhar itens à esquerda -->
        <div class="p-4 pl-6">
            <!-- Logo ou nome da aplicação -->
            <h1 class="text-2xl font-semibold">HarveyAI</h1>
        </div>
        <nav class="flex-1 w-full">
            <ul>
                <li class="mb-2">
                    <a href="#" class="flex items-center py-2 pl-6 text-white hover:bg-red-600 hover:text-gray-200">
                        <i class="ph ph-chat mr-2"></i> Chat
                    </a>
                </li>
                <li class="mb-2">
                    <a href="#" class="flex items-center py-2 pl-6 text-white hover:bg-red-600 hover:text-gray-200">
                        <i class="ph ph-file mr-2"></i> Documents
                    </a>
                </li>
                <li class="mb-2">
                    <a href="#" class="flex items-center py-2 pl-6 text-white hover:bg-red-600 hover:text-gray-200">
                        <i class="ph ph-file-text mr-2"></i> Templates
                    </a>
                </li>
                <li class="mb-2">
                    <a href="#" class="flex items-center py-2 pl-6 text-white hover:bg-red-600 hover:text-gray-200">
                        <i class="ph ph-gavel mr-2"></i> Legal Sources
                    </a>
                </li>
                <li class="mb-2">
                    <a href="#" class="flex items-center py-2 pl-6 text-white hover:bg-red-600 hover:text-gray-200">
                        <i class="ph ph-plugs-connected mr-2"></i> Integrations
                    </a>
                </li>
            </ul>
        </nav>
        <div class="p-4 pl-6">
            <!-- Upgrade Plan, Settings, Logout -->
            <button class="bg-red-500 hover:bg-red-600 text-white font-medium py-2 px-4 rounded w-full mb-2">Upgrade
                Plan <i class="ph ph-sketch-logo text-xl"></i></i></button>
            <button class="bg-gray-500 hover:bg-gray-700 text-white font-medium py-2 px-4 rounded w-full mb-2">Settings
                <i class="ph ph-gear-six"></i></button>
            <a href="logout" class="block py-2 text-white text-center hover:bg-red-600 hover:text-gray-200">Logout <i
                    class="ph ph-sign-out"></i></a>
        </div>
    </div>

    <!-- Main Content (Placeholder) -->
    <div class="flex-1 bg-gray-100 relative">
        <!-- Top right corner elements -->
        <div class="absolute top-0 right-0 mt-4 mr-4 flex items-center">
            <!-- User Avatar -->
            <div
                class="bg-gray-300 w-10 h-10 flex rounded items-center justify-center transition duration-100 ease-in-out hover:bg-red-700">
                <a href="#"><i
                        class="ph ph-user-circle text-black text-lg transition duration-300 ease-in-out hover:text-white"></i></a>
            </div>
            <!-- Notifications Bell -->
            <div
                class="ml-4 bg-gray-300 w-10 h-10 flex rounded items-center justify-center transition duration-100 ease-in-out hover:bg-red-700">
                <a href="#"><i
                        class="ph ph-bell text-black text-lg transition duration-300 ease-in-out hover:text-white"></i></a>
            </div>
            <!-- Settings Button -->
            <button
                class="ml-4 bg-gray-300 w-10 h-10 flex rounded items-center justify-center transition duration-100 ease-in-out hover:bg-red-700">
                <a href="#"><i
                        class="ph ph-gear-six text-black text-lg transition duration-300 ease-in-out hover:text-white"></i></a>
            </button>
        </div>

        <!-- Main Content Area -->
        <div class="p-8 sm:p-12 lg:p-16">
            <h1 class="text-2xl font-semibold mb-6"></h1>
            {% block inner_content %}{% endblock %}
        </div>
    </div>
</div>
{% endblock %}